

body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    background: white;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    color: #101D40;
}



span {
    color: #101D40;
}

span.fc-title{
    color: white;
    background-color: #101D40;
}

div.fc-content{
    color: white;
    background-color: #101D40;
}

